.Product {
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px 10px 10px;
  background-color: white;
}
.column{
  width: 700px;
}
.row{
  width: 200px;
}
.Product img{
  height: 150px;
  width: 150px;
  
  border-radius: 10px 10px 10px;
  
}

.Product:hover,
.Product:active {
  
  box-shadow: 3px 3px 4px grey;
}

.Price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}